/*colors*/
:root{
    --color1: #51803e;
    --color1Fade: rgba(81,128,62,0.2);
    --color2: #39b649;
    --color2Fade: rgba(57,182,74,0.2);
    --color3: #51803e;
    --color3Fade: rgba(81,128,62,0.2);
    --color4: #39b649;
    --color4Fade: rgba(57,182,74,0.2);
}