/*colors*/


/*boarder*/
#matsedla-widget .simcal-day-label > span {
    border: 2px solid #CACACA;
}

#matsedla-widget .simcal-events-list-container .simcal-day-label:nth-child(1):not(.selected-label) > span:hover {
    background-color: rgba(238, 28, 37, 0.2) !important;
}
/*valinn dagur*/
#matsedla-widget .simcal-events-list-container .selected-label:nth-child(1) > span{
    border-color: #ee1c25;
    background-color: #ee1c25 !important;
}

#matsedla-widget .simcal-events-list-container .simcal-day-label:nth-child(3):not(.selected-label) > span:hover {
    background-color: rgba(9, 175, 239, 0.2) !important;
}
/*valinn dagur*/
#matsedla-widget .simcal-events-list-container .selected-label:nth-child(3) > span{
    border-color: #09afef;
    background-color: #09afef !important;
}

#matsedla-widget .simcal-events-list-container .simcal-day-label:nth-child(5):not(.selected-label) > span:hover {
    background-color: rgba(57, 182, 73, 0.2) !important;
}
/*valinn dagur*/
#matsedla-widget .simcal-events-list-container .selected-label:nth-child(5) > span{
    border-color: #39b649;
    background-color: #39b649 !important;
}
#matsedla-widget .simcal-events-list-container .simcal-day-label:nth-child(7):not(.selected-label) > span:hover {
    background-color: rgba(255, 242, 21, 0.2) !important;
}
#matsedla-widget .simcal-events-list-container .selected-label:nth-child(7) > span {
    border-color: #fff215;
    background-color: #fff215 !important;
}
#matsedla-widget .simcal-events-list-container .selected-label:nth-child(7) span {
    color: #000 !important;
}



/*  ------------------------------------------------------------------------------------------------------- COLORS   */

#skoladagatal .simcal-default-calendar .simcal-present {
    border: solid 2px #335227;
    
}

.simcal-calendar-head tr:nth-child(1) {
	background-color: #335227 !important; 
}

.simcal-default-calendar-grid.simcal-default-calendar-light .simcal-day:hover  {
	background-color: #335227;
}

.qtip.simcal-default-calendar {
	border-color: #72b159;
}


table.simcal-calendar-grid .simcal-events {
	color: #335227
}

.simcal-default-calendar-grid .simcal-events > .simcal-event:hover {
	color: #fff;
}

.simcal-calendar-grid thead tr:nth-child(1) h3 {
	color: #fff;
}

.arrowlink a, .arrowlink span {
    color: #335227 !important;
}

.bullet-color ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #72b159; /* Change the color */
}

.summary a:hover {
    color: #335227;
}


.parent-menu-item:nth-child(odd):hover {
	background-color: rgba(80,115,66,0.2);
}

.parent-menu-item:nth-child(odd) .sub-menu .menu-item:not(.menu-item-has-children):hover {
	border-left: 3px solid #507342;
}

.parent-menu-item:nth-child(even):hover {
	background-color: rgba(147,191,104,0.2);
}


.parent-menu-item:nth-child(even) .menu-item:hover {
	border-left: 3px solid #93bf68;
}

.parent-menu-item:nth-child(even) ul.sub-menu {
	border-color: #93bf68 !important;
}

#vidburdir .simcal-event-details >p:first-child {
    color: #335227;
}

.link a, .icon-btn .fl-icon-wrap a{
	color: #335227 !important;
}

.btn-color .fl-button, button.btn-square {
    background-color: #335227 !important;
    border: none !important;
}

.child-sidebar-menu .menu-item:hover {
	border-left: 3px solid #72b159
}


.parent-sidebar-menu .current-menu-ancestor > a {
	border-left: 3px solid #335227;
}

.fl-separator {
    border-top: 2px solid #72b159 !important;
}

.fl-tabs .fl-tabs-label.fl-tab-active {
	color: #335227;
}

.felligluggi .fl-accordion-button-icon {
    color: #335227;
}

.felligluggi .fl-accordion-item-active .fl-accordion-button-label {
    color: #72b159 !important;
}