@font-face {
  font-family: 'arborg-icon';
  src:  url('fonts/arborg-icon.eot?bdujw');
  src:  url('fonts/arborg-icon.eot?bdujw#iefix') format('embedded-opentype'),
    url('fonts/arborg-icon.ttf?bdujw') format('truetype'),
    url('fonts/arborg-icon.woff?bdujw') format('woff'),
    url('fonts/arborg-icon.svg?bdujw#arborg-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ar-icon-"], [class*=" ar-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'arborg-icon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ar-icon-question:before {
  content: "\e900";
}
.ar-icon-info:before {
  content: "\e901";
}
.ar-icon-dinner:before {
  content: "\e903";
}
.ar-icon-bus:before {
  content: "\e904";
}
.ar-icon-mail:before {
  content: "\e905";
}
.ar-icon-bag:before {
  content: "\e906";
}
.ar-icon-laptop:before {
  content: "\e001";
}
.ar-icon-desktop:before {
  content: "\e002";
}
.ar-icon-tablet:before {
  content: "\e003";
}
.ar-icon-phone:before {
  content: "\e004";
}
.ar-icon-tel:before {
  content: "\e004";
}
.ar-icon-document:before {
  content: "\e005";
}
.ar-icon-newspaper:before {
  content: "\e009";
}
.ar-icon-notebook:before {
  content: "\e00a";
}
.ar-icon-book-open:before {
  content: "\e00b";
}
.ar-icon-calendar:before {
  content: "\e00d";
}
.ar-icon-picture:before {
  content: "\e00f";
}
.ar-icon-camera:before {
  content: "\e012";
}
.ar-icon-printer:before {
  content: "\e013";
}
.ar-icon-toolbox:before {
  content: "\e014";
}
.ar-icon-megaphone:before {
  content: "\e021";
}
.ar-icon-trophy:before {
  content: "\e023";
}
.ar-icon-puzzle:before {
  content: "\e026";
}
.ar-icon-pencil:before {
  content: "\e032";
}
.ar-icon-search:before {
  content: "\e037";
}
.ar-icon-profile-male:before {
  content: "\e040";
}
.ar-icon-bike:before {
  content: "\e042";
}
.ar-icon-location:before {
  content: "\e047";
}
.ar-icon-chat:before {
  content: "\e049";
}
.ar-icon-heart:before {
  content: "\e04a";
}
.ar-icon-web:before {
  content: "\e052";
}
.ar-icon-clock:before {
  content: "\e055";
}
.ar-icon-facebook:before {
  content: "\e05d";
}
.ar-icon-right:before {
  content: "\e876";
}
