#matsedill-container {
    background: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.9)), url('/wp-content/themes/astra-child/fonts/dinner.svg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0 10px 20px rgba(0,0,0,.04);
}

#matsedla-widget .simcal-day {
    display: none;
}

#matsedla-widget .simcal-calendar {
    padding: 0 50px;
}



#matsedla-widget .simcal-day-label span {
    font-family: "Source Sans Pro";
    font-weight: 400;
    text-align: center;
	background-color: transparent !important;
    color: #000;
}


#matsedla-widget .simcal-day-label > span {
    width: 250px;
    margin: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}
    
#matsedla-widget .simcal-day-label {
    border-bottom: 0 !important;
}

#matsedla-widget .selected-day {
    display: block;
    grid-area: 1 / 2 / 5 / 4;
    font-size: 50px;
    margin: auto;
}

#matsedla-widget .simcal-event-description {
    margin: 0 !important;
    font-size: 20px;
}

#matsedla-widget .simcal-event-details {
    text-align: center;
}

#matsedla-widget .simcal-event-details p {
	margin: 0 !important;
	line-height: 1.5;
	display: inline-block;
	vertical-align: middle;
}

#matsedla-widget .date-day {
    display: block;
    font-size: 18px;
} 

#matsedla-widget .date-detail {
    font-size: 14px;
}

#matsedla-widget .simcal-events-list-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

#matsedla-widget .simcal-day-label:nth-child(3) {
    grid-row: 2;      
}

#matsedla-widget .simcal-day-label:nth-child(5) {
    grid-row: 3;      
}

#matsedla-widget .simcal-day-label:nth-child(7) {
    grid-row: 4;      
}

#matsedla-widget .selected-day {
    display: block;
    grid-area: 1 / 2 / 5 / 4;
    font-size: 50px;
    margin: auto;
}

#matsedla-widget .simcal-day-label > span {
	cursor: pointer;
}

@media (max-width: 810px) {
    
    #matsedla-widget .simcal-day-label {
        margin: auto;
    }
    
    #matsedla-widget .simcal-calendar {
        padding: 0;
    }
	

    #matsedla-widget .simcal-day-label > span {
        width: 150px;
    }
    
    #matsedla-widget .simcal-day-label:nth-child(3) {
        grid-row: 1;
        grid-column: 2;
    }

    #matsedla-widget .simcal-day-label:nth-child(5) {
        grid-row: 1;
        grid-column: 3;      
    }
    
    #matsedla-widget .simcal-day-label:nth-child(7) {
        display: none;      
    }
    
    #matsedla-widget .selected-day {
        grid-area: 2 / 1 / 4 / 4;
    }
}

@media (max-width: 500px) {

    #matsedla-widget .simcal-events-list-container {
        display: grid;
        grid-template-columns: auto auto;
    }
	
	#matsedla-widget .selected-day {
		top: 30%
	}

	#matsedla-widget .date-day {
	    font-size: 16px;
	}
	
	#matsedla-widget .simcal-day-label > span {
        width: 120px;
    }
    #matsedla-widget .simcal-day-label:nth-child(5) {
        display: none;      
    }
    
    #matsedla-widget .selected-day {
        grid-area: 2 / 1 / 4 / 3
    }
}

/*boarder*/
#matsedla-widget .simcal-day-label > span {
    border: 2px solid #CACACA;
}

#matsedla-widget .simcal-events-list-container .simcal-day-label:nth-child(1):not(.selected-label) > span:hover {
    background-color: var(--color1Fade) !important;
}
/*valinn dagur*/
#matsedla-widget .simcal-events-list-container .selected-label:nth-child(1) > span{
    border-color: var(--color1);
}

#matsedla-widget .simcal-events-list-container .simcal-day-label:nth-child(3):not(.selected-label) > span:hover {
    background-color: var(--color2Fade) !important;
}
/*valinn dagur*/

#matsedla-widget .simcal-events-list-container .selected-label:nth-child(3) > span{
    border-color: var(--color2);
}

#matsedla-widget .simcal-events-list-container .simcal-day-label:nth-child(5):not(.selected-label) > span:hover {
    background-color: var(--color3Fade) !important;
}
/*valinn dagur*/
#matsedla-widget .simcal-events-list-container .selected-label:nth-child(5) > span{
    border-color: var(--color3);
}
#matsedla-widget .simcal-events-list-container .simcal-day-label:nth-child(7):not(.selected-label) > span:hover {
    background-color: var(--color4Fade) !important;
}
#matsedla-widget .simcal-events-list-container .selected-label:nth-child(7) > span {
    border-color: var(--color4);
}